<div class="content-holder" style="text-align:center">
    <h1 style="text-align:center"> Bienvenido a Web Gestión de Compañia para Excepciones</h1>

    <h3 style="text-align:center">Te damos una cordial bienvenida al portal de Gestión de Compañia para Excepciones</h3>
    <table style="width:750px; border: 0; background-color:white; display: inline; padding: 4px; border-collapse: separate; border-spacing: 1px; font-family: Swiss Roman">
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;
                <img src="assets/img/logoIncioMC.jpg" style="height: 307px; width: 604px; border:0;" />
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</div>