<div class="search-div">
    <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Nuevo
  </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
         </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="POL_SERIE">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Serie</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.POL_SERIE}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="POL_NRO">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Número Póliza</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.POL_NRO}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="FEC_INICIO">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.FEC_INICIO }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_GTO_PBS">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descuento prima básica</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_GTO_PBS}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GTO_PR_BAS">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.GTO_PR_BAS}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="TP_GTOPRBAS">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tope en UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.TP_GTOPRBAS}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_GTO_PAG">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gasto por pago</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_GTO_PAG}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GTO_X_PAGO">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.GTO_X_PAGO}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="TP_GTOXPAGO">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tope en UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.TP_GTOXPAGO}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_GTO_PRR">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gasto prima rescatada</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_GTO_PRR}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GTO_PR_REC">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.GTO_PR_REC}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="TP_GTOPRREC">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tope en UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.TP_GTOPRREC}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_PREM_PE">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Premio permanencia</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_PREM_PE}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="PREMIO_PERM">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.PREMIO_PERM}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="TP_PREM_PER">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tope en UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.TP_PREM_PER}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_GTO_TRA">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo por traspaso</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_GTO_TRA}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GTO_X_TRASP">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.GTO_X_TRASP}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="TP_GTO_TRAS">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tope en UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.TP_GTO_TRAS}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_CAR_RES">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo rescate total</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_CAR_RES}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CAR_RES_TOT">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Monto UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.CAR_RES_TOT}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_CAR_REP">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo rescate parcial</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_CAR_REP}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CAR_RES_PAR">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Monto UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.CAR_RES_PAR}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_CAR_FIJ">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cargo fijo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_CAR_FIJ}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CARGO_FIJO">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Monto UF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.CARGO_FIJO}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="IND_GTO_FON">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gasto fondo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.IND_GTO_FON}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="GTO_FONDOS">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.GTO_FONDOS}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row.RowId)"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data...
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>