<!--  
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>-->

<mat-toolbar>
    <span> {{service.form.controls['RowId'].value?"Editar Excepción Póliza": "Nueva Excepción Póliza"}} </span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()" autocomplete="off">
    <mat-grid-list cols="3" rowHeight="300px">
        <mat-grid-tile>
            <mat-form-field>
                <input formControlName="POL_SERIE" matInput placeholder="Pol Serie*">
                <mat-error>Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <div class="controles-container">
                <input type="hidden" formControlName="RowId">
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_GTO_PBS">IND GTO PBS</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_GTO_PAG">IND GTO PAG</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_GTO_PRR">IND GTO PRR</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_PREM_PE">IND PREM PE</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_GTO_TRA">IND GTO TRA</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_CAR_RES">IND CAR RES</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_CAR_REP">IND CAR REP</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_CAR_FIJ">IND CAR FIJ</mat-checkbox>
                </div>
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="IND_GTO_FON">IND GTO FON</mat-checkbox>
                </div>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Grabar</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Limpiar</button>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="POL_NRO" matInput placeholder="Pol Nro*">
                    <mat-error>Este campo es obligatorio.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="GTO_PR_BAS" matInput placeholder="Gto Pr Bas">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="GTO_X_PAGO" matInput placeholder="Gto x Pago">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="GTO_PR_REC" matInput placeholder="Gto Pr Rec">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="PREMIO_PERM" matInput placeholder="Premio Perm">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="GTO_X_TRASP" matInput placeholder="Gto x Trasp">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="CAR_RES_TOT" matInput placeholder="Car Res Tot">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="CAR_RES_PAR" matInput placeholder="Car Res Par">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="CARGO_FIJO" matInput placeholder="Cargo Fijo">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="GTO_FONDOS" matInput placeholder="Gto Fondos">
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="FEC_INICIO" matInput placeholder="Fec Inicio*">
                    <mat-error>Este campo es obligatorio.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TP_GTOPRBAS" matInput placeholder="Tp Gtoprbas">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TP_GTOXPAGO" matInput placeholder="Tp Gtoxpago">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TP_GTOPRREC" matInput placeholder="Tp Gtoprrec">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TP_PREM_PER" matInput placeholder="Tp Premper">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TP_GTO_TRAS" matInput placeholder="Tp Gtotras">
                </mat-form-field>

                <tr>
                </tr>

                <tr>
                </tr>

                <tr>
                </tr>

                <tr>
                </tr>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>