<mat-toolbar class="example-toolbar animated fadeIn fast" color="primary">
    <span> {{service.formCapital.controls['RowId'].value?"Editar Excepción Edad": "Nueva Excepción Edad"}} </span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.formCapital" class="normal-form animated fadeIn fast" (submit)="onSubmit()" autocomplete="off">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <input type="hidden" formControlName="RowId">
                <mat-form-field>
                    <mat-select [(ngModel)]="selected" placeholder="Plan" formControlName="Plan" required>
                        <mat-option matTooltip="Seleccione una opción" [matTooltipPosition]="position" value="0">Seleccione una opción</mat-option>
                        <mat-option matTooltip="{{plan.NombrePlan}}" [matTooltipPosition]="position" *ngFor="let plan of listaPlanCombo" [value]="plan.Plan">{{ plan.NombrePlan }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="(!!service.formCapital.controls.Plan.dirty || !!service.formCapital.controls.Plan.touched) && !!service.formCapital.controls.Plan.errors?.required">Este campo es obligatorio.</mat-error>
                    <mat-error *ngIf="!!service.formCapital.controls.Plan.errors?.selectDistintoCero">Debe seleccionar una opción.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="number" formControlName="Capital" matInput placeholder="Edad" required>
                    <mat-error *ngIf="(!!service.formCapital.controls.Capital.dirty || !!service.formCapital.controls.Capital.touched) && !!service.formCapital.controls.Capital.errors?.required">Este campo es obligatorio.</mat-error>
                    <mat-error *ngIf="!!service.formCapital.controls.Capital.errors?.limiteEdad">Debe ingresar edad entre 1 y 99.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="number" formControlName="PrimaAnual" matInput placeholder="Prima Anual Sistema" required>
                    <mat-error *ngIf="(!!service.formCapital.controls.PrimaAnual.dirty || !!service.formCapital.controls.PrimaAnual.touched) && !!service.formCapital.controls.PrimaAnual.errors?.required">Este campo es obligatorio.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="number" formControlName="PrimaMensual" matInput placeholder="Prima Mensual (Mensaje)" required>
                    <mat-error *ngIf="(!!service.formCapital.controls.PrimaMensual.dirty || !!service.formCapital.controls.PrimaMensual.touched) && !!service.formCapital.controls.PrimaMensual.errors?.required">Este campo es obligatorio.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="service.formCapital.invalid">Grabar</button>
            <button mat-raised-button color="warn" (click)="onClear()">Limpiar</button>
        </div>
    </div>
</form>